@mixin border-radius($radius){
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   border-radius: $radius;
}

@mixin titulo($size, $color: blue){
  color: $color;
  font-size: $size;
}

@mixin pad ($values...){
  padding: $values;
}
